<h1>Leaderboard</h1>

<table border="1" cellpadding="5" cellspacing="0">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Player</th>
      <th>Wins</th>
      <th>Losses</th>
      <th>Win Rate</th>
    </tr>
  </thead>
  <tbody>
    <% @players.each_with_index do |player, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= player.name %></td>
        <td><%= player.wins %></td>
        <td><%= player.losses %></td>
        <td><%= player.win_rate %>%</td>
      </tr>
    <% end %>
  </tbody>
</table>
